body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background-color: #f8f8f8;
}

header {
    text-align: center;
    margin-bottom: 30px;
    background-color: #F7F3E9;
    font-size: 30px;
}

header h1 {
    color: #333;
}

.contact-form {
    background-color: #A3D2CA;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin-bottom: 30px;
    font-size: 25px;
}

.contact-form h2 {
    color: #333;
    margin-bottom: 10px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.form-group input, .form-group textarea {
    width: calc(100% - 22px);
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group textarea {
    resize: vertical;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.contact-info, .social-media {
    background-color: #5EAAA8;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin-bottom: 30px;
}

.contact-info h2, .social-media h2 {
    color: #333;
    margin-bottom: 10px;
    font-size: 50px;
}

.contact-info p, .social-media a {
    margin-bottom: 8px;
    color: #333;
}

.contact-info i, .social-media i {
    margin-right: 8px;
    font-size: 35px;
}

footer {
    text-align: center;
    background-color: #F05945;
    padding: 10px 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    color: whitesmoke;
}
